.ChatInput {
  width: 100%;
  display: block;
  margin: auto;
  height: 100px;
}

input {
    padding: 10px;
    margin-right: 48px;
    font-size: 16px;
    border: none;
    box-sizing: border-box;
    width: 450px;
}

input:focus{
    outline: none;
}

input::placeholder {
    color: #333;
}