.Message {
  display: block;
  background-color: #FBFEFB;
  margin: 10px auto;
  box-shadow: 0 5px 15px -5px rgba(209, 181, 54, 0.2);
  padding: 10px 20px;
  border-radius: 5px;
  clear: both;

  &.me {
    color: white;
    float: right;
    background-color: #328ec4;
  }
  &.other {
    color: #2D2D2E;
    float: left;
    background-color: #FBFEFB;
  }
}